body{
    height: 100%;
    width: 100%;
    background-color: #E5E5E5;
}

.named{
    font-family: 'Lobster', cursive;
}

.general {
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.styleText { 
    filter: drop-shadow(3px 4px 4px #3f3e3e);
    font-family: 'Roboto Mono', monospace;
}

.divTitulo{
    background-color: #E5E5E5;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.divCalculadoraCaratula{
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 500px;
    min-height: 400px;
    max-height: 900px;
    background-color: #333333;
    border-radius: 15px;
    filter: drop-shadow(12px 12px 4px #868585);
    display: flex;
}


.divInputs{
    background-color: #4A4A4A;
    border-radius: 10px;
    margin-top: 3.5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 25%;
    display: flex;
}

.divTeclas{
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 65%;
    min-height: 200px;
    max-height: 250px;
    margin-top: 1rem;
    border-radius: 10px;
}


.byAngel{
    font-family: 'Roboto Mono', monospace;
    padding-top: 3%;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
}

.txtFont{
    font-family: 'Roboto Mono', monospace;
}
.fotoSize{
    height: 10%;
    width: 5%;
}


.divInputsComplete{
    text-align: end;
    width: 100%;
    height: 100%;
    
}

.cuentaAnterior{
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: end;
    height: 25%;
}

.cuentaActual{
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: end;
    height: 75%;
    word-wrap: break-word;
}


.fila { 
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}
.Botonera{
    display: grid;
    height: 100%;
    width: 100%;
}

.botonCuentas{
    background-color: #6D9886;
    width: 17.5%;
    color: #FFFFFF;
    margin: 2px;
}

.botonNumero {
    background-color: #202020;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    width: 17.5%;
    margin: 2px;
}

.botonEliminarTodo {
    background-color: #D84747;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    width: 17.5%;
    margin: 2px;
}

.botonIgual{
    color: #FFFFFF;
    background-color: #D9CAB3;
    text-align: center;
    justify-content: center;
    width: 55%;
    margin: 2px;
}

/*
*
*
* BUSCADOR INTEGRADO EN DOCUMENTACION
*
*/

.conGeneral { 
    background-color: #414141;
    width: 95%;
    margin-top: 3%;
    border-radius: 5px;
    filter: drop-shadow(12px 10px 3px #868585);
}


.leftBrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.busqueda{
    background-color: #4D4D4D;
    border-radius: 7px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 13px;
}

.busqueda2{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 65%;
}


.rightBrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.circuloRojo { 
    color: #ED0101;
}

.circuloVerde{
    color: #04CB00;
}

.circuloAmarillo {
    color: #ECF100;
}

.candado{
    color: #72747A;
}

.color{
    color: #72747A;
}


.zonaExplicaciones{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttonFunctions{
    background-color: #6D9886;
    width: 9%;
    color: #FFFFFF;
    margin: 2px;
}
.buttonFunctionss{
    background-color: #D9CAB3;
    width: 9%;
    color: #FFFFFF;
    margin: 2px;
}
.buttonFunctionsss{
    background-color: #D84747;
    width: 9%;
    color: #FFFFFF;
    margin: 2px;
}
.buttonFunctionssss{
    background-color: #D9CAB3;
    width: 9%;
    color: #FFFFFF;
    margin: 2px;
}





.buttonGit {
    color: #343a40;
    border-color: #343a40;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.code { 
    color: #f8f9fa;
    border-radius: 8px;
    justify-content: flex-start;
}
